.nav {
  color: #fef9ef;
  margin: 0;
  animation: fadeup 1s both;
  position: fixed;
  width: 100%;
  z-index: 4;
}
.navs {
  animation: off 1s ease-in forwards;
}
@keyframes off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
}
.head {
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Rowdies", cursive;
  float: left;
  margin-top: 50px;
  margin-left: 150px;
}
ul {
  font-family: "Montserrat", sans-serif;
  float: right;
  right: 0;
  font-weight: 700;
  margin: 50px 150px;
}
li {
  display: inline-block;
  margin-left: 70px;
}
